.course-card {
  position: relative;
  background-color: transparent;
  border-radius: 12px;
  padding: 20px;
  margin: 20px auto;
  width: 60%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-left {
  flex: 1;
  width: 20%; 
}

.card-right {
  flex: 1;
  width: 20%; 
  text-align: right;
}

.card-center {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.buy-button {
  padding: 20px 40px; /* Увеличиваем кнопку */
  font-size: 1.2em;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.buy-button:hover {
  background-color: #0056b3;
}

.price {
  font-size: 1.2em;
  margin-top: 10px;
}

.course-description {
  font-size: 1em;
  margin-left: 10px;
}

.course-card:hover {
  transform: translateY(-10px);
}

.course-description {
  list-style-type: none; /* Убираем маркеры списка */
  padding: 0;
  margin: 0;
}

.course-description li {
  margin-bottom: 5px; /* Отступ между строками */
}



/* Медиазапрос для маленьких экранов */
@media (max-width: 768px) {

  .card-right {
    display: none;
  }

  .course-card {
    width: 90%; /* Ширина карточки на маленьких экранах */
    margin: 10px auto; /* Уменьшение отступа сверху и снизу */
    padding: 15px; /* Уменьшение отступа внутри карточки */
  }
  
  .course-title {
    font-size: 1.2rem; /* Уменьшение размера заголовка */
  }

  .price {
    font-size: 0.8rem; /* Уменьшение размера цены */
  }

  .buy-button {
    padding: 5px 10px; /* Увеличение размеров кнопки */
    font-size: 1rem; /* Увеличение размера текста кнопки */
    margin: 5px;
  }
}
