.Header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Выравниваем логотип и бургер-меню по краям */
  padding: 10px 20px;
  background-color: #333;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
}

.nav-links {
  display: flex;
  justify-content: center; /* Центрируем навбар */
  align-items: center; /* Вертикальное выравнивание */
  height: 70px;
  background-color: #333;
  transition: max-height 0.3s ease; /* Плавный переход для открывающегося меню */
  overflow: hidden; /* Скрываем контент при закрытом меню */
}

.nav-links.open {
  max-height: 300px; /* Увеличиваем максимальную высоту при открытом меню */
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

.separator {
  color: white;
  margin: 0 10px;
}

.burger {
  display: none; /* Скрыть бургер-меню по умолчанию */
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 4px 0;
  transition: all 0.3s ease;
}

/* Медиа-запрос для мобильных устройств */
@media (max-width: 768px) {
  .Header{
    justify-content: space-between;
  }
  .nav-links {
    position: absolute; /* Позиционируем меню абсолютно */
    top: 70px; /* Под хедером */
    left: 0;
    width: 100%; /* Занимаем всю ширину */
    flex-direction: column; /* Вертикальное направление на мобильных */
    max-height: 0; /* Начальная максимальная высота 0 */
    background-color: #333; /* Цвет фона для мобильной версии */
  }

  .nav-links.open {
    height: 70px; /* Максимальная высота открытого меню */
  }

  .separator{
    display: none;
  }

  .burger {
    display: flex; /* Показываем бургер-меню на мобильных устройствах */
    margin-right: 60px; /* Сдвигаем бургер-меню вправо */
  }
}
