/* Стили для карточек с информацией */
.info-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  @media (max-width: 768px){
    .info-cards {
      align-items: center;
      justify-content: center;
    }
  }
  
  .info-card {
    background-color: #f9f9f9;
    border: 2px solid #00ffcc;
    border-radius: 8px;
    padding: 20px;
    flex: 1 1 calc(33% - 20px);
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .info-card img {
    width: 280px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
  }
  
  /* Для анимаций */
  .styled-card {
    background-color: white;
    border: 2px solid #cccccc;
    border-radius: 12px;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: opacity 1.5s ease, transform 1.5s ease;
    opacity: 0;
    transform: translateX(100px);
  }
  
  .styled-card.visible {
    opacity: 1;
    transform: translateX(0);
  }
  
  .styled-card:hover {
    transform: translateY(-10px);
    border-color: #4a90e2;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  